// Define variables for your color scheme

// For example:
$red: #c14747;
$blue: #4b76cc;
$yellow: #ead42a;
$orange: #e89243;
$green: #5e9671;
$black: #2C2C2C;
$grey: #BFBFBF;

html {
  background-color: #F4F4F4;
}

