#directory {
  gap: 5px;
}

.btn:hover {
  background-color: #2C2C2C;
  color: white;
}

.first-page {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  gap: 300px;
  background-image: url("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png");
  background-repeat: round;
  background-size: 70px;
}

.second-page, .third-page, .fourth-page, .fifth-page {
  width: 100%;
  min-height: 100vh;
}

.fourth-page {
  position: relative;
}

.fifth-page {
  max-width: 400px;
}

.container {
  background-image: url("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png");
  background-repeat: round;
  background-size: 70px;
  padding: 20px;
}

.up-arrow {
  position: absolute;
  right: 50%;
  bottom: 0;
}

.social-media {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.info {
  max-width: 400px;
  overflow: wrap;
  align-content: center;
}

.images-1 img {
  max-width: 150px;
  margin: 5px;
  height: auto;
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
}

.images-2 img {
  max-width: 300px;
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
  height: auto;
  margin: 5px;
}

.images-3 img {
  max-width: 300px;
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
  height: auto;
  margin: 5px;
}

.images-4 img {
  max-width: 275px;
  filter: brightness(80%);
}

.intro {
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
}

.logo img {
  max-width: 200px;
}

#section04 p {
  line-height: 0px;
}

#section04 h2 {
  color: #2C2C2C;
}

.fab {
  font-size: 26px;
  color: #2C2C2C;
}

.fab:hover {
  color: #ccc;
}

.fa-vector-square {
  font-size: 22px;
  color: #2C2C2C;
}

.fa-vector-square:hover {
  color: #ccc;
}

.fas {
  color: #2C2C2C
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
