.btn:hover {
  background-color: #2C2C2C;
  color: white;
}

.first-page {
  width: 100%;
  min-height: 80vh;
  overflow: auto;
  gap: 260px;
}

.second-page, .third-page, .fourth-page, .fifth-page, .sixth-page {
  width: 100%;
  min-height: 100vh;
}

.container {
  background-image: url("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png");
  background-repeat: round;
  background-size: 70px;
  margin: 0;
}

// #up-arrow {
//   position: absolute;
//   right: 50%;
//   bottom: 0;
// }

.social-media {
  display: flex;
  padding: 5px;
}

.info {
  max-width: 400px;
  overflow: wrap;
  align-content: center;
}

.text {
  min-width: 400px;
}

.images-1 img {
  max-width: 150px;
  margin: 5px;
  height: auto;
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
}

.images-2 img {
  max-width: 400px;
  box-shadow: 0 0px 16px rgba(0,0,0,0.1);
  height: auto;
  margin: 5px;
}

.images-4 img {
  max-height: 200px;
  margin: 5px;
  width: auto;
}

.intro {
  max-width: 400px;
  margin-top: -1px;
  box-shadow: 16px -16 16px 0px rgba(0,0,0,0.1);
}

.logo img {
  max-width: 180px;
}

.logo-t img {
  max-width: 250px;
}

.logo-p img {
  max-width: 150px;
}

#section07 p {
  line-height: 0px;
}

#section07 h5 {
  color: #2C2C2C;
}

.fab {
  font-size: 26px;
  color: #2C2C2C;
  margin: 5px;
}

.fab:hover {
  color: #ccc;
}

.fa-vector-square {
  font-size: 22px;
  color: #2C2C2C;
  margin: 5px;
}

.fa-vector-square:hover {
  color: #ccc;
}

.fas {
  color: #2C2C2C;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
