.first-page {
  width: 100%;
  height: calc(100vh - 30px);
  overflow: auto;
  position: relative;
}

.next-page {
  width: 100%;
  height: calc(100vh - 20px);
  position: relative;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.info {
  max-width: 400px;
  overflow: wrap;
}

#first-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

#second-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 20px;
}

#section01 img {
  max-width: 150px;
  height: auto;
}

.project img {
  max-width: 150px;
}

.card-project img {
  max-width: 300px;
  height: auto;
}

.fab {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #2F2F2F;
}
