<div class="navbar navbar-expand-sm navbar-light sticky-top">
    <div class="navbar-brand">
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-around align-items-center" id="navbarSupportedContent">
        <a href="/"><h1 style="color: #2C2C2C;">Alexis</h1></a>
        <div class="d-flex flex-wrap align-items-center" id="directory">
          <p class="mb-0">projects:</p>
          <div class="btn btn-flat" id="first"><a href="#section01">ConnecPet</a></div>
          <div class="btn btn-flat"><a href="#section02">Top Picks</a></div>
          <div class="btn btn-flat"><a href="#section03">Prankt</a></div>
          <div class="btn btn-flat"><a href="#section04">ASMR</a></div>
          <div class="btn btn-flat" id="last"><a href="#section05">Spotify</a></div>
          <div class="btn btn-flat" id="last"><a href="#section06">Magic 8 Ball</a></div>
          <div class="btn btn-flat"><a href="#section07">About Me</a></div>
        </div>
        <div class="social-media align-items-center">
          <a href="https://rt-portfolio.herokuapp.com" target="_blank"><i class="fas fa-vector-square"></i></a>
          <a href="https://linkedin.com/in/alexis-sae-an" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://instagram.com/iykruok" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/apprehensive-fig" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
  </div>
</div>
