<div class="second-banner" style="height: 70px;"></div>
<div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out">
  <section id="section03">
    <div class="fourth-page d-flex flex-column justify-content-around align-items-center">
      <div class="project d-flex flex-column justify-content-center align-items-center text-center">
        <div class="logo mb-5">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621996542/logo_hp9w9n.png", alt: "logo" %>
        </div>
        <div class="images-3">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623746716/Screen_Shot_2021-06-15_at_17.43.44_uwjdc0.png", alt: "home" %>
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623746716/Screen_Shot_2021-06-15_at_17.44.38_sakgb8.png", alt: "index" %>
        </div>
           <p></br>Prankt is a Marketplace application to book pranking services</p>
          <p style ="color: #eabb00"><a href="https://prankt.herokuapp.com">Go to Project</a></p>
        </div>
        <a href="#first-page"><span></span><i class="fas fa-sort-up fa-2x" id="up-arrow"></i></a>
    </div>
  </section>
</div>
