<section id="section05">
  <div class="third-page d-flex flex-column justify-content-center align-items-center">
    <div class="project d-flex flex-column justify-content-center align-items-center text-center">
      <div class="logo mb-5">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624675937/image_1_k0nuy1.png", alt: "logo" %>
      </div>
      <div class="images-2 mb-3">
        <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624675592/Screen_Shot_2021-06-26_at_11.42.57_cvxsrc.png", alt: "spotify" %>
      </div>
      <p>Spotify Clone built using Vue js</p>
      <p style ="color: #eabb00"><a href="https://github.com/apprehensive-fig/spotify-clone">See code</a></p>
    </div>
  </div>
</section>
