<div class="second-banner" style="height: 50px;"></div>
<div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out">
  <section id="section04">
    <div class="fifth-page d-flex flex-column justify-content-around align-items-center">
      <div class="project d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="mb-5" style="color: #2C2C2C;">ASMR Projects</h1>
        <div class="images-1">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624255133/rain_mx0cga.png", alt: "rain" %>
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624255133/summer_ls9shh.png", alt: "cicada" %>
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624255133/beach_wur1v3.png", alt: "shell" %>
        </div>
        </br>
        <div class="row">
          <p class="mr-3 ml-3" style ="color: #eabb00"><a href="https://a-rain-day.herokuapp.com">Go to Rain ASMR</a></p>
          <p class="ml-5 mr-3" style ="color: #eabb00"><a href="https://a-summer-day.herokuapp.com">Go to Summer ASMR</a></p>
          <p class="ml-5 mr-3" style ="color: #eabb00"><a href="https://a-beach-day.herokuapp.com">Go to Beach ASMR</a></p>
        </div>
      </div>
        <a href="#first-page"><span></span><i class="fas fa-sort-up fa-2x" id="up-arrow"></i></a>
    </div>
  </section>
</div>
