<div class="second-banner" style="height: 70px;"></div>
<div class="container d-flex flex-column align-items-center">
<div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out">
  <section id="section04">
    <div class="fifth-page d-flex flex-column justify-content-center align-items-center">
        <div class="images-4">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623975374/IMG_5816_jeiba7.png", alt: "home" %>
        </div>
        <div class="intro text-center bg-white pr-5 pl-5">
        <h5>- alexis sae an -</h5>
        <p>a regular at local tanning salon</p>
        <p>swimming and drawing</p>
        <p>a mom of twelve cats</p>
        <p>web developer</p>
        <p>from nyc</p>
        </div>
      </div>
        <a href="#first-page"><span></span><i class="fas fa-sort-up fa-2x" id="up-arrow"></i></a>
    </div>
  </section>
</div>
</div>
