<div class="second-banner" style="height: 70px;"></div>
<div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out">
  <section id="section04">
    <div class="fifth-page d-flex flex-column justify-content-around align-items-center">
      <div class="project d-flex flex-column justify-content-center align-items-center text-center">
        <h1>ASMR Projects</h1>
        <div class="images-2">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624169667/Screen_Shot_2021-06-20_at_15.06.00_eyuvrb.png", alt: "home" %>
        </div>
          <p style ="color: #eabb00"><a href="https://a-rain-day.herokuapp.com">Rain ASMR</a></p>
          <p style ="color: #eabb00"><a href="https://a-rainy-day.herokuapp.com">Summer ASMR</a></p>
        </div>
        <a href="#first-page"><span></span><i class="fas fa-sort-up fa-2x" id="up-arrow"></i></a>
    </div>
  </section>
</div>
