<div class="container d-flex flex-column align-items-center">
  <section id="section07">
    <div class="sixth-page d-flex flex-column justify-content-center align-items-center">
        <div class="images-4">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1649163930/IMG_3762_cnllhu.jpg", alt: "home" %>
        </div>
        <div class="intro text-center bg-white pr-3 pl-3">
        <h5>- alexis sae -</h5>
        <p>full-stack developer (ruby, js, html, css)</p>
        <p>a regular at local tanning salon</p>
        <p>and the beach, coffee</p>
        <p>mom of twelve cats</p>
        <p>from nyc</p>
        </div>
      </div>
    </div>
  </section>
</div>
