<div class="container d-flex flex-column align-items-center justify-content-center">
  <h1 class="block-effect" style="--td: 1.0s">
    <div class="block-reveal" style="--bc: #eabb00; --d: .5s">Welcome</div>
  </h1>
  <h4 class="wordCarousel">
    <div>
      <ul class="flip3">
          <li>check out my projects</li>
          <li> to my portfolio</li>
      </ul>
   </div>
  </h4>
</div>
