<div data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out">
 <div class="first-page d-flex justify-content-between align-items-center">
  <div class="social-media d-flex flex-column align-items-center">
    <a href="https://rt-portfolio.herokuapp.com"><i class="fas fa-vector-square"></i></a>
    <a href="https://linkedin.com/in/alexis-sae-an"><i class="fab fa-linkedin"></i></a>
    <a href="https://instagram.com/sea_u_l8tr"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/apprehensive-fig"><i class="fab fa-github-square"></i></a>
  </div>
  <div class="text d-flex flex-column justify-content-center align-items-center">
    <h1 class="block-effect" style="--td: 1.0s">
      <div class="block-reveal" style="--bc: #eabb00; --d: .5s">Hey there</div>
    </h1>
    <h4 class="wordCarousel">
      <div>
        <ul class="flip2">
            <li>check out my projects</li>
            <li>♥</li>
        </ul>
     </div>
    </h4>
  </div>
    <div class="d-flex flex-column" id="directory">
      <div class="btn btn-flat"><a href="#section01">ConnecPet</a></div>
      <div class="btn btn-flat"><a href="#section02">Top Picks</a></div>
      <div class="btn btn-flat"><a href="#section03">Prankt</a></div>
      <div class="btn btn-flat"><a href="#section04">About Me</a></div>
    </div>
  </div>
</div>
<%= render "pages/section_one" %>
<%= render "pages/section_two" %>
<%= render "pages/section_three" %>
<%= render "pages/section_four" %>
