<div class="first-page d-flex flex-column align-items-center justify-content-center mb-5">
  <h1 class="block-effect" style="--td: 1.0s">
    <div class="block-reveal" style="--bc: #eabb00; --d: .5s">Hey there</div>
  </h1>
  <h4 class="wordCarousel">
    <div>
      <ul class="flip2">
          <li>check out my projects</li>
          <li>♥</li>
      </ul>
   </div>
</div>
  </h4>
    <a href="#section01"><span></span><i class="fas fa-sort-down fa-2x" id="first-arrow"></i></a>
</div>
<section id="section01" class="demo">
  <div class="next-page d-flex flex-column justify-content-center align-items-center mt-5">
    <a href="#first-"><span></span><i class="fas fa-sort-up fa-2x" id="second-arrow"></i></a>
  <div>
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623734159/Screen_Shot_2021-06-15_at_13.47.08_l36gij.png", alt: "alttext" %>
  </div>
</div>
</section>
