<div class="container d-flex flex-column align-items-center justify-content-center">
  <div class="greeting">
<h1 class="block-effect" style="--td: 1.0s">
  <div class="block-reveal" style="--bc: #ead42a; --d: .5s">Welcome</div>
</h1>
  </div>
</div>

