[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 1200px) {
  .first-page {
    gap: 60px !important;
  }
}

@media only screen and (max-width: 770px) {
  .first-page, .container {
    flex-direction: column;
    justify-content: center;
    gap: 170px !important;

    h1 {
      font-size: 50px;
    }
  }

  .text {
    min-width: 300px !important;
  }

  .social-media {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #directory {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    p {
      margin-top: 9px;
    }
  }

  .btn {
    font-size: 16px;
    padding: 10px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 576px) {
  .first-page, .container {
    flex-direction: column;
    justify-content: space-around !important;
    gap: 80px !important;
    padding: 10px;
    h1 {
      font-size: 70px;
    }
  }

  .text {
    min-width: 300px !important;
  }

  .social-media {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #directory {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    p {
      margin-top: 9px;
    }
  }

  #first {
    margin-left: 5px;
  }

  #last {
    margin-right: 5px;
  }

  .wordCarousel div li {
    font-size: 28px;
  }

  #section01 img {
    max-height: 150px;
    width: auto;
    overflow: auto;
  }

  #section04 {
    p {
      margin: 2px !important;
    }

    img {
      max-height: 150px;
      width: auto;
      overflow: auto;
    }
  }

  .images {
    display: flex;
    flex-direction: column;
  }

  .images-3 img {
    max-width: 300px !important;
  }

  .images-2 img {
    max-width: 300px !important;
  }

  .btn {
    font-size: 16px;
    padding: 5px;
    margin: 3px;
    white-space: nowrap;
  }
}
