[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 576px) {
  .first-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 170px !important;
    background-size: 100px !important;
  }

  .social-media {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  #directory {
    flex-direction: row !important;
  }

  #section01 img {
    max-height: 150px;
    width: auto;
    overflow: auto;
  }

  #section02 img {
    max-width: 150px;
  }

  .info {
    max-width: 150px;
  }

  .images {
    display: flex;
    flex-direction: column;
  }

  .second-banner {
    height: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .first-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 170px !important;
    background-size: 125px !important;
  }

  .social-media {
    flex-direction: row !important;
  }

  #directory {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 9px;
    }
  }

  #section01 img {
    max-height: 150px;
    width: auto;
    overflow: auto;
  }

  #section02 img {
    max-width: 150px;
  }

  .info {
    max-width: 150px;
  }

  .images {
    display: flex;
    flex-direction: column;
  }

  .second-banner {
    height: 40px;
  }
}

